body {
  background-color: aliceblue;
  margin: 0.5rem;
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

form {
    margin: auto;
    width: 500px;
}

label {
    display: block;
    font-weight: bold;
    margin: 5px 0px;
}

input,
select,
textarea {
    box-sizing: border-box;
    font-size: large;
    padding: 4px;
    width: 100%;
}

h2 {
  text-align: center;
  margin-top: 3rem;
  color: midnightblue;
}

h3 {
  margin-left: 5rem;
}

#quotestitle {
  margin-top: -3rem;
  margin-left: 4rem;
  padding-top: 6rem;
  color: blue;
}

#quotes {
  font-size: 1.2rem;
  width: 80%;
  color: darkblue;
}

.linktogames {
  background-color: steelblue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  border: 1px solid dodgerblue;
  float: right;
}

.linktogames>a {
  color: white;
}

.gamestitle,
#abouttitle {
  margin-top: 0.5rem;
}

.visible {
  display: visible;
}

.invisible {
  display: none;
}

#about {
  margin-top: 3.3rem;
}

#terms {
  width: 16px;
  height: 16px;
}

#registerterms {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  border: 1px solid darkslategray;
  border-radius: 0.5rem;
}

#registerlink, 
#loginlink {
  color: crimson;
}

section {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem auto;
  width: 75%;
}

section article {
  border-radius: 0.5rem;
  flex: 1;
  padding: 0.5rem;
  margin: 0.5rem 3rem;
  min-width: 200px;
  border: 1px solid dodgerblue;
  background-color: lightsteelblue;
}

/* HEADER NAV */

header {
  padding-bottom: 1rem;
  padding-top: 3rem; 
}

header a {
  margin: 1rem;
}

header nav ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  float: right;
  border-radius: 0.5rem;
  border: 1px solid dodgerblue;
  background-color: lightsteelblue;
}

header nav ul li {
  flex: 1;
  font-size: 1.3rem;
  height: 1.5rem;
  z-index: 10;
}

li a {
  text-decoration: none;
  color: navy;
}

header nav ul li>ul {
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-flow: column;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}
  
header nav ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    width: 125%;
}

.float-left {
  float: left;
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  font-style: oblique;
  margin-left: 2.5rem;
  color: navy;
}

.copyright {
  color: royalblue;
}

footer {
  text-align: center;
}

@media (max-width: 500px) {
  #arrow {
    display: none;
  }
}

/* CALCULATOR */

table,
th,
td {
  border: 1px solid mediumblue;
}

table.separate {
  border-collapse: separate;
  border-spacing: 0.5rem;
}

table.collapse {
  border-collapse: collapse;
}

caption {
  font-style: bold;
  padding-bottom: 5px;
}

#calculator {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

.keys {
  background-color: lightsteelblue;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

#timerandscore,
#equationandinput,
#calcfooter {
  background-color: lightsteelblue;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(2, 1fr);
}

button,
#startbutton {
  background-color: steelblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  color: white;
  border-color: dodgerblue;
  border-radius: 0.5rem;
}

#enterbutton,
#clearbutton {
  background-color: lightcyan;
  color: midnightblue;
  border-color: dodgerblue;
}

#operation,
#resultsform {
  width: 13em;
}

#startbutton {
  margin: 10px 0px 100px 0px;
  border: 1px solid darkblue;
}

#timerandscore {
  background-color: lightsteelblue;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

#results,
#playagain {
  margin-top: 10px;
}

#playagain {
  margin-bottom: 100px;
}

#finalscore {
  text-align: center;
  margin: auto;
}

#decimalpoint,
#minus {
  font-weight: 900;
}